# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js Build Output
.next/
out/

# Database (Ignore local data)
db/*.db
db/*.db-journal

# Environment Variables (SENSITIVE)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store

# Local environments
.env